.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3.375rem 0;

  img:nth-child(2) {
		margin-top: 4.0625rem;
	}

	> p {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.5rem;
		letter-spacing: 0.75px;
		margin-top: 1.5625rem;
	}

	@media (max-height: 895px) {
		padding: 2rem 0;
	}

	@media (max-height: 858px) {
		padding: 1rem 0;
	}

	@media (max-height: 770px) {
		img:nth-child(2) {
			margin-top: 2.25rem;
		}
	}

	@media (max-height: 740px) {
		img:nth-child(2) {
			aspect-ratio: 225/223;
			width: 200px;
		}
	}
}

.tree {
	margin-top: 2.1875rem;
	width: clamp(14.375rem, 100%, 25.875rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;

	a {
		width: 100%;
		height: 4rem;
		border: 0;
		border-radius: 5px;
		background-color: #AA00FE;
		transition: filter 0.2s;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			filter: brightness(0.8);
		}

		p {
			color: #fff;
			font-size: 0.9375rem;
		}

		@media (max-height: 924px) {
			height: 3.75rem;
		}

		@media (max-height: 858px) {
			height: 3.5rem;
			width: 90%;
		}

		@media (max-height: 808px) {
			height: 3rem;
			width: 80%;
			
			p {
				font-size: 0.875rem;
			}
		}
	}
}

.footer {
	margin-top: auto;
	display: flex;
	align-items: center;
	gap: 1.25rem;

	a {
		background: #AA00FE;
		aspect-ratio: 1;
		height: 3.625rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		transition: filter 0.2s;

		&:hover {
			filter: brightness(0.8);
		}

		svg {
			height: 2.25rem;
			width: 2.25rem;
		}

		@media (max-height: 924px) {
			height: 3rem;

			svg {
				height: 1.85rem;
				width: 1.85rem;
			}
		}

		@media (max-height: 808px) {
			height: 2.5rem;

			svg {
				height: 1.5rem;
				width: 1.5rem;
			}
		}

		@media (max-height: 720px) {
			margin-top: 2rem;
		}
	}
}
